[Unit]
Description=OVOS PHAL
PartOf=ovos.service
After=ovos.service
After=ovos-messagebus.service

[Service]
Group=ovos
Type=notify
UMask=002
ExecStart=%h/.venvs/ovos/bin/python /usr/libexec/ovos-systemd-phal
TimeoutStartSec=1m
TimeoutStopSec=1m
Restart=on-failure
StartLimitInterval=5min
StartLimitBurst=4

[Install]
WantedBy=ovos.service

