[Unit]
Description=Connect your OVOS-Device to your smartphone or tablet
After=network-online.target
After=dbus.service

[Service]
ExecStart=/usr/lib/aarch64-linux-gnu/libexec/kdeconnectd --platform offscreen
BusName=org.kde.kdeconnect

[Install]
WantedBy=default.target
