[Unit]
Description=OVOS Messagebus
PartOf=ovos.service
After=ovos.service

[Service]
ExecStart=/usr/libexec/ovos_rust_messagebus
Restart=on-failure

[Install]
WantedBy=ovos.service
