[Unit]
Description=OVOS Audio
PartOf=ovos.service
After=ovos.service
After=ovos-messagebus.service

[Service]
Type=notify
Group=mycroft
UMask=002
ExecStart=%h/.venvs/ovos/bin/python /usr/libexec/ovos-systemd-audio
TimeoutStartSec=1m
TimeoutStopSec=1m
Restart=on-failure
StartLimitInterval=5min
StartLimitBurst=4
StandardOutput=append:/ramdisk/mycroft/audio.log
StandardError=append:/ramdisk/mycroft/audio.log

[Install]
WantedBy=ovos.service
