[Unit]
Description=OVOS Spotify OCP Hooks
PartOf=ovos.service
After=ovos.service
After=ovos-messagebus.service

[Service]
Type=notify
Group=mycroft
UMask=002
ExecStart%h/.local/bin/spotifyd --device-type "speaker" --initial-volume 100 --on-song-change-hook "~/.venvs/ovos/bin/python /usr/libexec/ovos-spotifyd" --no-daemon
TimeoutStartSec=1m
TimeoutStopSec=1m
Restart=on-failure
StartLimitInterval=5min
StartLimitBurst=4
StandardOutput=append:/ramdisk/mycroft/spotify.log
StandardError=append:/ramdisk/mycroft/spotify.log

[Install]
WantedBy=ovos.service

