[Service]
ExecStartPre=%h/.venvs/ovos/bin/python /usr/libexec/ovos-ssh-enabled-signal
ExecStopPost=%h/.venvs/ovos/bin/python /usr/libexec/ovos-ssh-disabled-signal
