[Unit]
Description=OVOS Messagebus (Rust)
PartOf=ovos.service
After=ovos.service

[Service]
Group=ovos
UMask=002
ExecStart=/usr/libexec/ovos_rust_messagebus
Restart=on-failure

[Install]
WantedBy=ovos.service
