[Unit]
Description=Emit OVOS shutdown signal
DefaultDependencies=no
Before=halt.target shutdown.target

[Service]
Type=oneshot
Group=mycroft
UMask=002
ExecStart=/usr/bin/python /usr/libexec/ovos-shutdown-signal

[Install]
WantedBy=halt.target shutdown.target
