[Unit]
Description=Sound output configuration service
PartOf=ovos-audio.service
After=ovos.service

[Service]
Type=oneshot
Group=ovos
UMask=002
ExecStart=/usr/libexec/update-audio-sinks.sh

[Install]
WantedBy=ovos.service