[Unit]
Description=Sound Sink auto-combiner service
PartOf=ovos-i2csound.service

[Service]
Type=oneshot
Group=ovos
UMask=002
ExecStart=/usr/libexec/update-audio-sinks.sh
RemainAfterExit=yes
Restart=on-failure
RestartSec=5

[Install]
WantedBy=ovos-i2csound.service